.vscode/**
.vscode-test/**
src/**
web/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
typing/**
test/**
**/test
pkg.sh
pkg.bat
*.zip
*.vsix
*.github
*.husky