@import "./styles/index.scss";

// https://github.com/microsoft/vscode-extension-samples/blob/main/theme-sample/Sample_Dark.tmTheme
// https://code.visualstudio.com/api/references/theme-colorhttps://code.visualstudio.com/api/references/theme-color
// https://code.visualstudio.com/docs/getstarted/themes
body,
html {
  font-family: var(--vscode-editor-font-family);
  font-weight: var(--vscode-editor-font-weight);
  font-size: var(--vscode-editor-font-size);
  background-color: #1e1e1e;
  color: #fff;
  // height: 100%;
  overflow-y: auto;
}
* {
  box-sizing: border-box;
}